<div class="box box-primary">
    <div class="box-header with-border">    
        
        <div class="row">
            <div class="col-md-12">
                <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="config-form col-md-12" #areaCnbForm="ngForm" (ngSubmit)='onSubmit(areaCnbForm)'>
                    <h4 class=" tamanyo_letra_titulo"> {{ titulo }} </h4>

                    <div class="row">                        
                        <div class="form-grou col-md-3">
                            <label for="areaCnbNombre" class="tamanyo_letra_labelp">Area CNB
                            </label>
                            <input class="form-control tamanyo_letra_inputp" name="areaCnbNombre" #areaCnbNombre="ngModel"
                                [(ngModel)]="areaCnbService.areaCnbSeleccionado.areaCnbNombre" required>                                
                            <div class="validation-error text_campo_requerido" *ngIf="areaCnbNombre.invalid && areaCnbNombre.touched">Campo
                                requerido</div>
                        </div>   

                    </div>
                    <br>
                    <!-- <div class="row">                        
                        <table class="">
                            <thead class="">
                                <tr>
                                    <th class="tamanyo_letra_labelp" scope="col">Curso</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pull-left tamanyo_letra_inputp">Maemáticas</td>                                    
                                    <td>
                                        <a class="btn text-info tamanyo_letra_labelp"
                                            style="margin-top: -7px;padding-left: 0px;" (click)="d('Cross click')"
                                            (click)="showForEdit()">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>                                   
                                </tr>
                            </tbody>
                        </table>
                    </div> -->

                    <br>
                    <div class="row">
                        <div class="form-grou col-md-9">
                        </div>                        
                        <div class="form-grou col-md-1">
                            <button type="button" [disabled]="!areaCnbForm.valid" class="btn btn-block btn-success " (click)="guardar(areaCnbForm)">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                        <div class="form-grou col-md-1">
                            <button type="button" class="btn btn-block btn-info" (click)="listarAreaCnb()" (click)="open(content)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <div class="form-grou col-md-1">
                            <button type="button" class="btn btn-block btn-warning" (click)="limpiarForm(areaCnbForm)">
                                <i class="fa fa-recycle"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- inicio row modal -->
<div class="row">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title pull-left tamanyo_letra_titulo" id="modal-basic-title">Areas del Currículum Nacional Base
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 table-responsive-sm" *ngIf="areaCnbService.areaCnbList">                   
                    <table class="table table-sm table-hover">
                        <thead class="">
                            <tr>
                                <th class="tamanyo_letra_labelp" scope="col">Area</th>                                
                                <th class="tamanyo_letra_labelp" scope="col">Acciones</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let area of areaCnbService.areaCnbList">
                                <td class="pull-left tamanyo_letra_inputp">{{ area.areaCnbNombre }}</td>                               
                                <td>
                                    <a class="btn text-info tamanyo_letra_labelp"
                                        style="margin-top: -7px;padding-left: 0px;" (click)="d('Cross click')"
                                        (click)="showForEdit(area)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn" *ngIf="area.estadoId =='0'" [style.color]="'#808080'"                                       
                                        (click)="bloqearDesbloquear(area)">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                    <a class="btn" *ngIf="area.estadoId =='1'" [style.color]="'#23B030'"                                        
                                        (click)="bloqearDesbloquear(area)">
                                        <i class="fa fa-check-circle"></i>
                                    </a>                                   
                                </td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>
</div>