<div style="text-align: center">
    <!-- <h3 class="jumbotron bg-secondary text-white">Nivel Educativo</h3> -->
</div>
<div class="row">
    <div class="col-md-12">
      
        <div class="row">
            <div class="col-md-12">
                <empleado-reg></empleado-reg>
            </div>
        </div>
        
       
        

            <!-- <ngb-tabset>
                
                <ngb-tab title="Registrar alumno">
                    <ng-template ngbTabContent>
                        <div class="col-md-12">
                            <alumno-reg></alumno-reg>
                        </div>
                        <div class="col-md-12">
                            
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Asociar encargado">
                    <ng-template ngbTabContent>
                        <p> Asociar encargado</p>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Plan de pago">
                    <ng-template ngbTabContent>
                        <p>plan de pago</p>
                    </ng-template>
                </ngb-tab>


            </ngb-tabset> -->
      

    </div> 
</div>