<!-- <h2>{{titulo}}</h2> -->
<div class="row">
  <div class="col-md-12">
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-10" >
      <!-- <app-slider></app-slider> -->
      <h3>CLOUD CLASSROOM</h3>
  </div>
  <div class="col-md-1">
  </div>

</div>
<div class="p-4">
  <div class="container">
      <!-- <h1>Hi {{user.firstName}}!</h1> -->
      <p>Potencie su equipo de trabajo</p><br>
      <p>Alcance ventaja competitiva en su sector</p>
      <!-- <p><a routerLink="/users">Manage Users</a></p> -->
  </div>
      <!-- <button (click)="logout()">
      Logout
    </button> -->
</div>
